body{
    margin:0;
}

header{
    background-color: white;
    width:100%;
    display: flex;
    height:18vh;
}

#logo{
    height:20vh;
    margin:0px auto;
    display: block;
    justify-content: center;
}

.search{
    background-image:url(http://halal.amsterdam/assets/img/header/search.png);
    background-repeat: no-repeat;
}

.search p{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-top: 4vh;
}

.icone{
    display:flex;
    margin-top:7vh;
    margin-left: 90vw;
    position: absolute;
}

.div1{
    height:1vh;
    background-color: black;
    margin-bottom: 0.2em;
}

.div2{
    height:1vh;
    background-color: black;
    margin-bottom: 0.2em;
}

.div3{
    height:1vh;
    background-color: black;
}

.menu {
    margin-left: 1.5vw;
 }

.listmenu a{
     font-family: 'Lato', Helvetica, sans-serif;
     display: block;
     font-weight: bold;
     color:white;
     font-variant: small-caps;
     font-size: 2.2em;
     margin-bottom: 0.2em;
     text-decoration: none;
 }

 .menubleu{
     width:50vw;
     background-color: #273777;
     z-index: 1;
     display: none;
     position:absolute;
     right:0;
     padding:8vh 0 10vh 4vw;
 }

#formmenu{
    margin-left: 3vw;
}

 #mailmenu{
     height: 7vh;
     width:24vw;
     background-color: transparent;
     border: 1px solid white;
     border-radius: 0;
     color: white;
     text-align: center;
     font-family: 'Lato', Helvetica, sans-serif;
 }

 .button2{
     height: 7vh;
     width:12vw;
     margin-left: 1vw;
     background-color: white;
     border: 1px solid white;
     border-radius: 0;
     color:#273777;
     text-align: center;
     font-family: 'Lato', Helvetica, sans-serif;
 }

 .button2:hover{
     background-color: green;
     border-color: green;
     color: white;
 }

 .menuh{
     font-family: 'Lato', Helvetica, sans-serif;
     font-size: 0.6em;
     color:white;
     font-variant: small-caps;
     margin-top:6vh;
 }

 i{
     color:white;
     margin-right: 0.5em;
 }

 .menu:hover>.menubleu{
     display: block;
 }

.menu p{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin: 0;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3vw;
}

.main-txt{
    margin-left:3vw;
    margin-right:3vw;
    color:black;
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height:3vh;
}

nav{
    background-color: white;
    display: inline-block;
    align-items: flex-end;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    letter-spacing: 1pt;
    padding-right: 1vw;
}

.video{
    background-color: white;
    width: 100%;
    height: 100%;
}

iframe{
    margin:0px auto;
    display: block;
    width: 92vw;
    height: 92vh;
    border:0;
}

#div1{
    display: flex;
    flex-direction: row;
    padding-bottom: 4vh;
}

#art-left{
    width: 50%;
    background-color: white;
    display: inline-block;
}

#art-right{
    width: 50%;
    background-color: white;
    display: inline-block;
}

.sous-titre{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    color: black;
    font-variant: small-caps;
    margin-left: 3vw;
    margin-top: -5vh;
    color: black;
}

.sous-titre-2{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 0.70em;
    margin-left: 3vw;
    color: grey;
    margin-top: -1vh;
}

.sous-titre-3{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 0.70em;
    margin-left: 1vw;
    color: grey;
}

.sous-titre-4{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    color: black;
    font-variant: small-caps;
    margin-left: 1vw;
    margin-top: -1vh;
    color: black;
}

.sous-titre-5{
    margin-left:1vw;
    margin-top:-1vw;
    color:black;
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
}

.person{
    background-color: white;
    height: 10vh;
    width: 24vw;
    margin-left:22.5vw;
    margin-top:8vh;
    border:1px solid grey;
}

.credit{
    background-color: white;
    width: 24vw;
    margin-left:22.5vw;
    margin-top:3vh;
    border:1px solid grey;
}

.more{
    height:2.2vh;
    width:3vw;
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 20vw;
    margin-top:-1.1vh;
}

#sam{
    float:left;
    height: 10vh;
    margin-right:1vw;
}

.name{
    margin-left:3vw;
    margin-right:3vw;
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 2%;
    color:midnightblue;
}

.name:hover{
    color:black;
}

#photo{
    width:100%;
    background-color: white;
}

#photo img{
    width:95%;
    margin: 0% auto;
    display: block;
}

#div2{
    display: flex;
    flex-direction: row;
    background-color: white;
    width:100%;
}

.pres{
    width:50%;
    background-color: white;
    display: inline-block;
}

#photo3{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#photo3 img{
    margin:8px;
}

.comment{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    color: black;
    font-variant: small-caps;
    margin-left: 3vw;
    margin-top: 1vh;
    color: black;
}

#photo2{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#photo2 img{
    margin:8px;
}

#links{
   background-color:white;
    height: 25vh;
    width: 100%;
    margin-bottom: 3vh;
}

.source{
    color:green;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    margin-left:3vw;
}

.type{
    margin-top:4vh;
    margin-bottom: 4vh;
}
.type p{
    color:midnightblue;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    font-variant: small-caps;
    margin-left:2.5vw;
}

hr{
    width:95%;
    color: gray;
    opacity: 50%;
}

.grid{
    height: 55vh;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
}

.gridart{
    width:25%;
    margin:0 10px 0 10px;
}

.gridart > img{
    width:100%;
}

.gridname{
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color:midnightblue;
}

.gridsubtitle{
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 900;
    color:midnightblue;
    font-variant: small-caps;
    margin-top:-1%;
}

.gridtxt{
    font-family:'Lato', Helvetica, sans-serif;
    font-size: 12px;
    color:midnightblue;
    margin-top:-1%;
}

footer{
    height:5vh;
    width:100%;
}

#formulaire{
    height: 120vh;
    width:92%;
    background-color:white;
    display: flex;
    flex-direction: column;
    padding:1vh 4vw 2vh 4vw;
    border-top:2vh solid black;
}

label{
    display: block;
    font-family: 'Lato', Helvetica, sans-serif;
    margin-top:2vh;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
}

.test{
    display: inline-block;
    margin-left: 1.6vw;
}

h2{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}

h2+p{
    font-size: 20px;
    font-family: 'Lato', Helvetica, sans-serif;
    margin-top: 0;
}

#formul{
    border-top:1px solid black;
}

textarea{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

input{
    background-color: white;
    height: 4vh;
    border: 1px solid grey;
    border-radius: 5px;
}

.button{
    background-color: black;
    height: 4vh;
    border: 1px solid black;
    border-radius: 5px;
    color:white;
    margin-left: 2vw;
}

select{
    background-color: white;
    height: 4vh;
    border: 1px solid grey;
    border-radius: 5px;
}